    <div class="container" style="margin-top:15%">


      <h1>13 questions away from your custom barber matches!</h1>
        <div ng-show='survey_page == 1'>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">1. Indicate the years of experience (practicing/apprentice/training/incorporated) your ideal barber has.</label>
          <div class="radio">
            <label>
              <input type="radio">0-5 years</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">6-10 years</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">10+ years</label>
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label">2. What is the personality of your ideal barbershop?</label>
          <div class="radio">
            <label>
              <input type="radio">Loud/fun</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">Family oriented</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">Trendy</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">Down to business</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">3. Do you prefer an appointment?</label>
          <div class="radio">
            <label>
              <input type="radio">Yes</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">No</label>
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label">4. Is a complimentary hot towel and straight razor neck shave important to you?</label>
          <div class="radio">
            <label>
              <input type="radio">Loud/fun</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">Family oriented</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">Trendy</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">Down to business</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="form-label">5. Is a beard trim service important?  (Choose no if no beard)</label>
           <div class="radio">
            <label>
              <input type="radio">Yes</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio">No</label>
          </div>
        </div>
        </div>
                    <a class="btn btn-primary btn-lg btn-block" ng-click="survey_page=2">Continue</a>
      </div>



<div ng-show="survey_page == 2">

    <h3>6. Specify your preferred haircut/style from the images below.</h3>
      <div class="row">
        <div class="col-md-4">
          <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
          <div class="radio">
            <label>
              <input type="radio">Select this style</label>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
          <div class="radio">
            <label>
              <input type="radio">Select this style</label>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
          <div class="radio">
            <label>
              <input type="radio">Select this style</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
          <div class="radio">
            <label>
              <input type="radio">Select this style</label>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
          <div class="radio">
            <label>
              <input type="radio">Select this style</label>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
          <div class="radio">
            <label>
              <input type="radio">Select this style</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
          <div class="radio">
            <label>
              <input type="radio">Select this style</label>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
          <div class="radio">
            <label>
              <input type="radio">Select this style</label>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
          <div class="radio">
            <label>
              <input type="radio">Select this style</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-info btn-lg btn-block" ng-click="survey_page=1">Back</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-primary btn-lg btn-block" ng-click="survey_page=3">Continue</a>
        </div>
      </div>

</div>

    </div>
