<div class="container" style="margin-top:100px">

<h1>What is TGS?</h1>

<h3>Mission</h3>

<p>The mission is simple: stop bad haircuts!  TGS is a free service for the

prospective barbershop patron dedicated to help men eradicate the bad

haircut experience. The movement is a “shop local” mentality that custom

matches men with the barbershops that best fit their preference and

personality. TGS is committed to helping men discover the benefits of the

barbershop experience, while delivering business to local barbershops!

The mission is to elevate standards with a custom touch.</p>

<h3>How it works</h3>
<ol>

  <li>From the home page click the “Get Started” button, which will lead you to the main survey page.</li>

  <li>Answer the 13 questions according to your preferences. Based on
your answers to these questions, you will be matched to your top 3
correlating barbershops from our database.</li>

  <li>Lastly, simply click your desired barbershop, and we give you
Their info!</li>

</ol>


<h3>The Team</h3>


<p>We are three friends from high school that have a passion for men’s style
and grooming.  We love the barbershop experience, but struggled to find
the shop that was the right fit for each of us.  We have all gone to shops
based on friend’s recommendations, customer reviews, and most dreaded:
the chain shop!  We created TGS out of a necessity.  We needed to create
a vehicle to deliver men to their custom barbershop.  Here it is, enjoy!</p><br>


<div class="row">
    <div class="col-md-4">
             <strong>Kevin Dunham</strong><br>
             Chief Executive Officer<br><br>
<img src="TGS-stock_photos/2387377.jpg" width="200" height="200" overflow = "hidden">
             </div>
    <div class="col-md-4">
             <strong>Nick Patterson</strong><br>
             Chief Technical Officer<br><br>
<img src="TGS-stock_photos/3bdca03.jpg" width="200" height="200" overflow = "hidden">
             </div>
         <div class="col-md-4">
             <strong>John Gurneisen</strong><br>
             Chief Operating Officer<br><br>
<img src="TGS-stock_photos/1738413.jpg" width="200" height="200" overflow = "hidden">
             </div>
        </div><br><br>
        </div>